{{>/layout/header}}
  {{#alert}}
    {{alertMessage}}
  {{/alert}}
 
  {{#index}}
     {{ > person/allList }}
  {{/index}}
  
  {{#showOne}}
      {{ > person/showOne }}
  {{/showOne}}
  
  {{#createPerson}}
      {{ > person/createPerson }}
  {{/createPerson}}
  
  {{#editPerson}}
     {{ > person/editPerson }}
  {{/editPerson}}
  <!--  <img src="/resources/img/7.jpg" /> -->
  
  <link rel="stylesheet" type="text/css" href="/resources/css/main.css">
{{>/layout/footer}}

<!-- 

	@PostMapping(value= {"person/{id}"})
	public void updatePerson(@PathVariable("id") long id, @ModelAttribute Person params) {

//		System.out.println("person id: \n"+ id);
		params.setId(id);
		System.out.println(" "+ params.getEmail() +" data types \n");
		this.personcrud.save(params);
//		return "redirect:person/" + id;
	}
 -->